<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>levels</string>
  <key>CFBundleGetInfoString</key>
  <string>Levels Copyright (C) 2015-2020 Eduardo Hopperdietzel</string>
  <key>CFBundleIconFile</key>
  <string>icon.icns</string>
  <key>CFBundleName</key>
  <string>Levels</string>
  <key>CFBundleShortVersionString</key>
  <string>Levels</string>
  <key>CFBundleIdentifier</key>
  <string>com.cuarzosoftware.levels</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CGDisableCoalescedUpdates</key>
  <false/>
	<key>NSHighResolutionCapable</key>
	<true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
</dict>
</plist>
